.App {
  text-align: center;
  padding: 0;
}

body {
  font-family:Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 2em;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.columns{
  margin: 0px!important;
}

.topheader{
  width:100%;
  height:600px;
  margin: 0px 
 
}
 .header{
  background-color: #fab32e;
 }
 .header p{
   font-size:30px;
   color:white;
   padding-left:3em;
  
 }


.share-h1{
  /* /* position:absolute; */
padding-top: 1em;
  font-size:100px !important;
  letter-spacing: 3px;
  line-height: 1;
  color:white;
  font-weight: bold;
  
}
.imgprofile{
  height:200px;
  width:200px;
  margin:5px
}


.two{
  background-color: blue;
  height:150px;
  /* margin-top: 0px !important; */
}
.blue{
  width:60% !important
}
.word{
  
  padding-top: 3em;
  padding-left: 25em;
}

.create{
  font-size:40px !important;
  color:white;
 
}
.work{
  font-size:20px !important;
  color:white
}

.three{
  background-color: rgb(252, 249, 249);
  height: 40em;
}

.sbtn{
border-radius: 2em;
display:inline;
padding:1em;
font-weight:bold;
color:rgb(116, 112, 112)

}

 .img3{
  padding-top:2em;
  margin:0px auto
} 

.four{
  background-color:rgb(185, 250, 250);
  padding:2em
  }
.img4{
  width:120px;
  height:120px
}
.value{
  font-size :40px;
  font-weight:bold;
}

/* p{
display:inline-block; 
  font-size :20px;
  padding:1em
} */
.vendiv{

padding:8em;

font-weight: bold;
line-height: 3;
color: rgb(252, 249, 249);
}
.vendors{
background-color: red;
/* margin: 0px; */
}

.ven{
  font-size:50px !important;
  letter-spacing: 3px;
  line-height: 1; 
  }


.img7{
  width:400px !important
}

.btn{
   padding-right:15em; 
padding-top: 4em;

}

footer {
  width: 100%;
  height: 8em;
  background-color: black;
  color: white;
}

footer .social {
  padding: 30px;
  font-size: 18px;
}

footer .social .footerp {
  text-align: left;
  display: inline-block;
}

.footerimg {
  padding-left: 30em;
  text-align: right;
  display: inline-block;
}

footer .social img {
  width: 20px;
  height: 20px;
  margin-left: 2em;
  border-radius: 60%;
}

